<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navigation" data-interval="2000">
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto " id="nv ">

            <li class="nav-item active ">
                <a class="nav-link active " id="home " href=" " style="color: orange;font-weight: bolder; font-size: 25px; ">BMW <span class="sr-only ">(current)</span></a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item active ">
                <a class="nav-link active " id="home " href=" " style=" font-size: 20px; ">Home <span class="sr-only ">(current)</span></a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link " href="#models" style="font-size: 20px;  ">Models</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class=" nav-item ">
                <a class="nav-link " href="http://localhost:4200/GetAllCustomers" style="font-size: 20px; ">Customer List</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;


            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/GetAllEmployees" style="font-size: 20px; ">Employee List</a>
            </li>

            <!-- &nbsp; &nbsp;&nbsp;&nbsp;

            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/CustomerLogin" style="font-size: 20px; ">Login</a>
            </li> -->

            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class=" nav-item ">
                <a class="nav-link " href="http://localhost:4200/GetAllServices" style="font-size: 20px; ">Service List</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/GetAllOrders" style="font-size: 20px; ">Order List</a>
            </li>



        </ul>

    </div>
</nav>
<section class="vh-100 bg-image" style="background-image: url('../../../assets/bmw9.jpg'); position: relative; top:-50px; height:1000px;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3" style="height:1500px;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border:2px solid rgb(248, 244, 244);">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Employee Register</h2>
                            <form [formGroup]="EmpRegForm" (ngSubmit)="EmpRegister()">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Name</label>
                                    <input type="text" id="form3Example3cg" class="form-control form-control-lg" formControlName="name" />
                                    <span *ngIf="EmpRegForm.controls['name'].hasError('required')" style="color: red; font-weight: bold;">Name Required</span>
                                    <span *ngIf="EmpRegForm.controls['name'].hasError('pattern')" style="color: red; font-weight: bold;">Name must be contain only alphabets </span>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Address</label>
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="address" />
                                    <span *ngIf="EmpRegForm.controls['address'].hasError('required')" style="color: red; font-weight: bold;">Address required</span>
                                    <!-- <span *ngIf="LoginForm.controls['address'].hasError('pattern')" style="color: red; font-weight: bold;">password must contain atleast 6 characters</span> -->
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Mobile No</label>
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="mob">
                                    <span *ngIf="EmpRegForm.controls['mob'].hasError('required')" style="color: red; font-weight: bold;">Mobile number required</span>
                                    <span *ngIf="EmpRegForm.controls['mob'].hasError('pattern')" style="color: red; font-weight: bold;">Mobile number not valid</span>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Email</label>
                                    <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="email">
                                    <span *ngIf="EmpRegForm.controls['email'].hasError('required')" style="color: red; font-weight: bold;">Email required</span>
                                    <span *ngIf="EmpRegForm.controls['email'].hasError('pattern')" style="color: red; font-weight: bold;">Email not valid</span>
                                </div>
                                <br>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Enter Password</label>
                                    <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="password">
                                    <span *ngIf="EmpRegForm.controls['password'].hasError('required')" style="color: red; font-weight: bold;">Password required</span>
                                    <span *ngIf="EmpRegForm.controls['password'].hasError('pattern')" style="color: red; font-weight: bold;">Password must be at least 4 characters</span>
                                </div>
                                <br>
                                <div class="d-flex justify-content-center" style="margin-left: -60px;">
                                    <button type=" reset " class="btn btn-success btn-lg gradient-custom-4 text-body " style="width:90px; margin-left:20px; ">Register</button>
                                    <button type="submit" class="btn btn-success  btn-lg gradient-custom-4 text-body" style="width:90px; margin-left:80px;" [disabled]="EmpRegForm.invalid">Reset</button>

                                </div>

                                <!-- <table border="1 ">
            <tr>
                <td>Enter Employee Name:</td>
                <td><input type="text " formControlName="name "></td>
                <td><span *ngIf="EmpRegForm.controls[ 'name'].hasError( 'required') ">Name is required</span></td>
                <div *ngIf="EmpRegForm.controls[ 'name'].hasError( 'pattern') ">name must be alphabet</div>
            </tr>
            <tr>
                <td>Enter Employee Address:</td>
                <td><textarea rows="5 " cols="10 " formControlName="address "></textarea></td>
                <td><span *ngIf="EmpRegForm.controls[ 'address'].hasError( 'required') ">Address is required</span></td>
            </tr>


            <tr>
                <td>Enter Mobile No:</td>
                <td><input type="text " formControlName="mob "></td>
                <td><span *ngIf="EmpRegForm.controls[ 'mob'].hasError( 'required') ">mobile number is required</span></td>
                <div *ngIf="EmpRegForm.controls[ 'mob'].hasError( 'pattern') ">Mobile no Must be number</div>
            </tr>


            <tr>
                <td>Enter Email</td>
                <td><input type="text " formControlName="email "></td>
                <td><span *ngIf="EmpRegForm.controls[ 'email'].hasError( 'required') ">email is required</span></td>
                <div *ngIf="EmpRegForm.controls[ 'email'].hasError( 'pattern') ">Email must be a valid email address</div>
            </tr>

            <tr>
                <td>Enter Password</td>
                <td><input type="text " formControlName="password "></td>
                <td><span *ngIf="EmpRegForm.controls[ 'password'].hasError( 'required') ">email is required</span></td>
                <div *ngIf="EmpRegForm.controls[ 'password'].hasError( 'pattern') ">Password must be at least 6 characters</div>


            </tr>

            <tr>
                <td><input type="submit "></td>
                <td colspan="2 ">
                    <div>
                        <button type="reset ">Reset</button>
                    </div>
                </td>
            </tr>




        </table> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body id="contacts ">
        <hr class=" hr-or ">
        <span class="span-or "></span>
        <hr class="hr-or ">
        <hr class="hr-or ">
        <footer class="nb-footer " style="width:1260px; position: relative; bottom:-130px;margin-top: -136px; ">
            <div class=" container ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="about ">
                            <!-- <img src="images/logo.png " class="img-responsive center-block " alt=" "> -->

                            <div class="social-media ">
                                <ul class="list-inline ">
                                    <li><a href="https://www.facebook.com/ " title=" "><i class="fa fa-facebook "></i></a></li>
                                    <li><a href="https://www.twitter.com/ " title=" "><i class="fa fa-twitter "></i></a></li>
                                    <li><a href="https://www.google.com/ " title=" "><i class="fa fa-google-plus "></i></a></li>
                                    <li><a href="https://www.linkedin.com/ " title=" "><i class="fa fa-linkedin "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Contact</h2>
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="https://www.bmw.in/en/fastlane/dealer-locator.html#/dlo/IN/en/BMW_BMWM " title=" "><i class="fa fa-angle-double-right "></i> Find a Dealer </a>
                                </li>
                                <li><a href="http://www.nextbootstrap.com/ " title=" "><i class="fa fa-angle-double-right "></i> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>




                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Quick Links</h2>
                            <ul class="list-unstyled ">
                                <li><a href="https://www.bmw.in/en/configurator.html " title=" "><i class="fa fa-angle-double-right "></i>Build Your BMW </a></li>
                                <li><a href="https://www.bmw.in/en/fastlane/bmw-financial-services-new/overview.html " title=" "><i class="fa fa-angle-double-right "></i>BMW Financial Services</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Experience BMW</h2>
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="https://www.bmw.in/en/topics/Fascination-BMW/bmw-group.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Group</a>
                                </li>
                                <li><a href="https://www.bmw.in/en/topics/Fascination-BMW/bmw-excellence-club.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Excellence Club</a></li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/experience-bmw--/bmw-motorrad.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Motorrad</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Legal</h2>
                            <ul class="list-unstyled ">
                                <li><a href="https://www.bmw.in/en/footer/metanavigation/-legal-disclaimer-imprint.html " title=" "><i class="fa fa-angle-double-right "></i> Legal Disclaimer</a></li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/metanavigation/privacy-policy.html " title=" "><i class="fa fa-angle-double-right "></i> Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/footer-section/cookie-policy.html " title=" "><i class="fa fa-angle-double-right "></i> Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <section class="copyright ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <p> © BMW AG 2021</p>
                        </div>
                        <div class="col-sm-6 "></div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</section>