<link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navigation" data-interval="2000">
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav mr-auto " id="nv ">


            <li class="nav-item active ">
                <a class="nav-link active " id="home " href=" " style="color: orange;font-weight: bolder; font-size: 25px; ">BMW <span class="sr-only ">(current)</span></a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item active ">
                <a class="nav-link active " id="home " href=" " style=" font-size: 20px; ">Home <span class="sr-only ">(current)</span></a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link " href="#models" style="font-size: 20px;  ">Models</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class=" nav-item ">
                <a class="nav-link " href="http://localhost:4200/GetAllCustomers" style="font-size: 20px; ">Customer List</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class=" nav-item ">
                <a class="nav-link " href="http://localhost:4200/CarDetails" style="font-size: 20px; ">InsertCars</a>
            </li>&nbsp; &nbsp;&nbsp;&nbsp;

            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/GetAllEmployees" style="font-size: 20px; ">Employee List</a>
            </li>

            <!-- &nbsp; &nbsp;&nbsp;&nbsp;

            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/CustomerLogin" style="font-size: 20px; ">Login</a>
            </li> -->

            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class=" nav-item ">
                <a class="nav-link " href="http://localhost:4200/AdminGetAllServices" style="font-size: 20px; ">Service List</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/GetAllOrders" style="font-size: 20px; ">Order List</a>
            </li>
            &nbsp; &nbsp;&nbsp;&nbsp;

            <li class="nav-item ">
                <a class="nav-link " href=" http://localhost:4200/GetAllCars" style="font-size: 20px; ">Cars List</a>
            </li>

            &nbsp; &nbsp;&nbsp;&nbsp;
            <li class="nav-item ">
                <a class="nav-link " href="http://localhost:4200/CustomerHomePage" style="font-size: 20px; ">Logout</a>
            </li>


        </ul>

    </div>
</nav>


<section>
    <form [formGroup]="GetCars">

        <h3>Cars List </h3>
        <table class="table table-striped">
            <tr>
                <th>Car No</th>
                <th>Car Model</th>
                <th>Car Mileage</th>
                <th>Car Color</th>
                <th>Car Top Speed</th>
                <th>Car Price</th>
                <th>Car Quantity</th>
            </tr>
            <tr *ngFor="let item of carlist">


                <td>{{item.carno}}</td>
                <td>{{item.carmodel}}</td>
                <td>{{item.carmileage}}</td>
                <td>{{item.carcolor}}</td>
                <td>{{item.cartopspeed}}</td>
                <td>{{item.carprice}}</td>
                <td>{{item.carquantity}}</td>




        </table>
    </form>

    <body id="contacts ">
        <hr class=" hr-or ">
        <span class="span-or "></span>
        <hr class="hr-or ">
        <hr class="hr-or ">
        <footer class="nb-footer " style="width:1260px; position: relative; top:99px; margin-top: 0px;">
            <div class=" container ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="about ">
                            <!-- <img src="images/logo.png " class="img-responsive center-block " alt=" "> -->

                            <div class="social-media ">
                                <ul class="list-inline ">
                                    <li><a href="https://www.facebook.com/ " title=" "><i class="fa fa-facebook "></i></a></li>
                                    <li><a href="https://www.twitter.com/ " title=" "><i class="fa fa-twitter "></i></a></li>
                                    <li><a href="https://www.google.com/ " title=" "><i class="fa fa-google-plus "></i></a></li>
                                    <li><a href="https://www.linkedin.com/ " title=" "><i class="fa fa-linkedin "></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Contact</h2>
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="https://www.bmw.in/en/fastlane/dealer-locator.html#/dlo/IN/en/BMW_BMWM " title=" "><i class="fa fa-angle-double-right "></i> Find a Dealer </a>
                                </li>
                                <li><a href="http://www.nextbootstrap.com/" title=" "><i class="fa fa-angle-double-right "></i> Contact Us</a></li>
                            </ul>
                        </div>
                    </div>




                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Quick Links</h2>
                            <ul class="list-unstyled ">
                                <li><a href="https://www.bmw.in/en/configurator.html " title=" "><i class="fa fa-angle-double-right "></i>Build Your BMW </a></li>
                                <li><a href="https://www.bmw.in/en/fastlane/bmw-financial-services-new/overview.html " title=" "><i class="fa fa-angle-double-right "></i>BMW Financial Services</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Experience BMW</h2>
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="https://www.bmw.in/en/topics/Fascination-BMW/bmw-group.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Group</a>
                                </li>
                                <li><a href="https://www.bmw.in/en/topics/Fascination-BMW/bmw-excellence-club.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Excellence Club</a></li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/experience-bmw--/bmw-motorrad.html " title=" "><i class="fa fa-angle-double-right "></i> BMW Motorrad</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 ">
                        <div class="footer-info-single ">
                            <h2 class="title ">Legal</h2>
                            <ul class="list-unstyled ">
                                <li><a href="https://www.bmw.in/en/footer/metanavigation/-legal-disclaimer-imprint.html " title=" "><i class="fa fa-angle-double-right "></i> Legal Disclaimer</a></li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/metanavigation/privacy-policy.html " title=" "><i class="fa fa-angle-double-right "></i> Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="https://www.bmw.in/en/footer/footer-section/cookie-policy.html " title=" "><i class="fa fa-angle-double-right "></i> Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <section class="copyright ">
                <div class="container ">
                    <div class="row ">
                        <div class="col-sm-6 ">
                            <p> © BMW AG 2021</p>
                        </div>
                        <div class="col-sm-6 "></div>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</section>